.home-page {
    .text-zone {
        position:absolute;
        left:10%;
        top: 40%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;

    }

    h1 {
        color: rgb(15, 14, 14);
        font-size: 100px;
        margin: 1;
        font-family: 'La Belle Aurore';
        font-weight: 400;
        position: relative;
        left: 15px;
        opacity: 0.9;
        animation:fadeIn 1s 1s backwards;    
    }

    h2 {
        color: rgb(15, 14, 14);
        font-size: 40px;
        margin: 1;
        font-family: 'La Belle Aurore';
        font-weight: 400;
        position: relative;
        left: 15px;
        opacity: 0.9;
        animation:fadeIn 1s 1.5s backwards;
    }
    
    .flat-button {
        color: rgb(15, 14, 14);
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid;
        margin-top: 25px;
        float: left;
        animation:fadeIn 1s 1.5s backwards;
        white-space: norap;
    }
}